<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Clinica</title>
</head>
<body>
    <nav class="navbar">
        <p class="nav_logo">Prosperar</p>
        <a href="#" class="nav_link">Home</a>
        <a href="/clientes/perfil" class="nav_link">Seu Perfil</a>
    </nav>

    <div class="bemvindo">
        <div class="bemvindo_container">
            <p class="bemvindo_titulo">Bem-vindo à Clinica Prosperar</p>
            <p class="bemvindo_subtitulo">Cuidado especializado para a saúde do seu filho</p>
            <p class="bemvindo_descricao">Na Clínica Infantil Prosperar, a saúde e o bem-estar das crianças são nossa prioridade. Compreendemos a importância de um cuidado especializado e acolhedor durante todas as fases do desenvolvimento infantil, desde os primeiros dias de vida até a adolescência. Nossa missão é proporcionar atendimento médico de excelência para crianças e adolescentes, garantindo que cada paciente receba um cuidado compassivo e individualizado. Acreditamos que cada criança é única e merece um tratamento que respeite suas necessidades específicas e promova seu crescimento saudável.</p>
            <button class="bemvindo_btn">Conheça nossos profissonais</button>
        </div>
    
        <div id="carouselExampleIndicators" class="carousel slide bemvindo_carrossel" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img class="d-block w-100" src="/images/crianca.jpg" alt="Primeiro Slide">
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="/images/entrada.jpg" alt="Segundo Slide">
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="/images/recebcao.jpg" alt="Terceiro Slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>

    <div class="servicos">
        <p class="servicos_titulo">Serviços Oferecidos</p>
        <div class="servicos_imagem">
            <img src="/images/image 1.png" alt="imagem 1" class="servicos_imagens">
            <img src="/images/image 2.png" alt="imagem 2" class="servicos_imagens">
            <img src="/images/image 3.png" alt="imagem 3" class="servicos_imagens">
            <img src="/images/image 4.png" alt="imagem 4" class="servicos_imagens">
        </div>
        <div class="servicos_texto">
            <p class="servicos_tipo">Nutricionista</p>
            <p class="servicos_tipo">Psicologa</p>
            <p class="servicos_tipo">Psicopedagoga</p>
            <p class="servicos_tipo">Dentista</p>
        </div>
    </div>
   
    <section>
        <p class="profissionais_titulo">Profissionais</p>
        <div class="profissionais">
            <% profissionais.forEach(function(profissional, index) { %>
                <div class="profissionais_card">
                    <img src="/images/psicologa.webp" alt="psicologa" class="profissionais_foto">
                    <div class="profissionais_info">
                        <p class="profissionais_nome"><%= profissional.nome %></p>
                        <p class="profissionais_especialidade"><%= profissional.especialidade %></p>
                        <p class="profissionais_registro"><%= profissional.num_registro %></p>
                        <br>
                        <a href="/profissionais/<%= profissional.id %>" class="profissionais_btn">Saiba Mais</a>
                    </div>
                </div>
                <% if ((index + 1) % 3 === 0) { %>
                    <div class="break"></div>
                <% } %>
            <% }); %>
        </div>
    </section>
    
    <br>

    <footer>
        <div class="footer">
            <a href="#" class="footer_link">Instagram</a>
            <a href="#" class="footer_link">Facebook</a>
            <p class="footer_link">00 00000-0000</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html> 
