<!-- cpf nome datanasc endereco email senha -->
 <!DOCTYPE html>
 <html lang="pt-Br">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
 </head>
 <body>
    <form action="submit">
        <input type="text" id="email">
        <input type="password" id="senha">
        <button type="submit">Login</button>
    </form>
 </body>
 </html>